table.table-grid {
  width: 100%;
  background-color: grey;
  thead,tbody{
    tr{
      td,th{
        border: 1px solid black;
      }
    }
  }
}

table.table-grid tbody tr {
  height: auto;
  background-color: white;
  color: black;

}

table.table-grid tbody tr td {
  padding: 5px;
  vertical-align: center;
}

table.table-grid tbody tr td:nth-child(3) {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table.table-grid tbody tr td .form-group {
  margin-bottom: 0;
}